:root,[data-bs-theme=dark] {
    --bs-body-bg: #091221;
    --bs-primary-bg: #0236a5;
    --bs-primary-rgb: 2, 54, 165;
    --bs-secondary-bg: #162647;
    --bs-secondary-rgb: 22, 38, 71;
}

.btn.btn-primary {
    --bs-btn-bg: #0236a5;
    --bs-btn-hover-bg: #0585e6;
}

* {
    --tc-feature-pro-bg: #2a2e70;
    --tc-feature-passion-bg: #f49430;
    --tc-feature-fulfill-bg: #cd2e3d;
    --tc-feature-wish-bg: #450640;
}

header.header {
    width: 100%;
    height: 100vh;
}

#headerCarousel {
    height: 100%;
    display: flex;
    align-items: center;
}

#headerCarousel .carousel-inner {
    height: 100%;
}

#headerCarousel .carousel-item {
    height: 100%;
}

#headerCarousel .carousel-indicators button {
    background-color: #fff;
}

#headerCarousel .carousel-control-prev-icon,
#headerCarousel .carousel-control-next-icon {
    filter: none;
}

#headerCarousel img, .hero-section img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#headerCarousel .carousel-caption {
    color: #fff;
    background-color: rgba(10, 37, 64, 0.5);
    bottom: 20%;
    max-width: 90%;
    border-radius: 15px;
}

#headerCarousel .carousel-indicators {
    bottom: 2rem;
}

.hero-section {
    height: 100%;
    min-height: 400px;
    max-height: 100vh;
}

.hero-section img {
    height: 100vh;
    filter: brightness(60%) contrast(95%);
}

.hero-section .description {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.hero-section .description .emphasis {
    font-size: 1.5em;
}

.detail-link {
    min-height: 3.5em;
    position: sticky; 
    top: 3.5em;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.detail-link .nav a {
    width: 8vw;
    min-width: 120px;
    text-decoration: none;
}

.detail-link .nav a .inner {
    padding: 1em;
    transition: .3s;
    text-align: center;
    color: #fff;
}

.detail-link .nav a:hover .inner {
    background-color: rgba(0, 0, 0, 0.5);
}

.feature {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.feature p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.feature p::before {
    content: 'ï¼ƒ';
}

.row {
    margin-left: 0;
}

.tc-feature .card {
    height: 25em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.tc-feature .card .card-img-top {
    height: 10em;
}

.tc-feature .card .card-img-top ion-icon {
    width: 2.5em;
    height: 2.5em;
}

.about {
    background: linear-gradient(180deg, var(--bs-body-bg) 0%, var(--bs-body-bg) 60%,var(--bs-light) 100%);
}

@media (max-width: 767.98px) {
    .daily-content {
        margin-top: 1em;
    }
}