:root {
    --bs-body-bg: #b5e3e1;
    --bs-primary-bg: #5776b7;
    --bs-primary-rgb: 87, 118, 183;
    --bs-secondary-bg: #0ba29b;
    --bs-secondary-rgb: 11, 162, 155;
    --bs-third-bg: #5dc3c8;
    --bs-third-rgb: 93, 195, 200;

}

.btn.btn-primary {
    --bs-btn-bg: #0236a5;
    --bs-btn-hover-bg: #0585e6;
}

* {
    --tc-feature-pro-bg: #2a2e70;
    --tc-feature-passion-bg: #f49430;
    --tc-feature-fulfill-bg: #cd2e3d;
    --tc-feature-wish-bg: #450640;
}

.nav-link:hover {
    color: #fff;
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity,1))!important;
}

header.header {
    width: 100%;
    height: 100vh;
}

#headerCarousel {
    height: 100%;
    display: flex;
    align-items: center;
}

#headerCarousel .carousel-inner {
    height: 100%;
}

#headerCarousel .carousel-item {
    height: 100%;
}

#headerCarousel .carousel-indicators button {
    background-color: #fff;
}

#headerCarousel .carousel-control-prev-icon,
#headerCarousel .carousel-control-next-icon {
    filter: none;
}

#headerCarousel img, .hero-section img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#headerCarousel .carousel-caption {
    color: #fff;
    background-color: rgba(10, 37, 64, 0.5);
    bottom: 20%;
    max-width: 90%;
    border-radius: 15px;
}

#headerCarousel .carousel-indicators {
    bottom: 2rem;
}

.hero-section {
    height: 100%;
    min-height: 400px;
    max-height: 100vh;
}

.hero-section img {
    height: 100vh;
    filter: brightness(60%) contrast(95%);
}

.hero-section .description {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.hero-section .description .emphasis {
    font-size: 1.5em;
}

.detail-link {
    min-height: 3.5em;
    position: sticky; 
    top: 3.5em;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.detail-link .nav a {
    width: 8vw;
    min-width: 120px;
    text-decoration: none;
}

.detail-link .nav a .inner {
    padding: 1em;
    transition: .3s;
    text-align: center;
    color: #fff;
}

.detail-link .nav a:hover .inner {
    background-color: rgba(0, 0, 0, 0.5);
}

.feature {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.feature p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.feature p::before {
    content: '★';
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.row {
    margin-left: 0;
}

.daily-header > div {
    color: #000;
    background-color: RGBA(var(--bs-third-rgb),var(--bs-bg-opacity,1))!important;
}

.daily-content .card {
    transition: .1s;
}

.daily-content .card:hover {
    transform: scale(1.02);
}

.daily-row .img-fluid {
    transition: .1s;
}

.daily-row .img-fluid:hover {
    transform: scale(1.02);
}

section.area {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    background-attachment: fixed;
}

.sec-1 {
    background-image: url('../img/01-Japan_Yamanashi/01-Japan_Yamanashi_Background.jpg');
}

.sec-2 {
    background-image: url('../img/02-Japan_Shizuoka/02-Japan_Shizuoka_Background.jpg');
}

.sec-3 {
    background-image: url('../img/03-Canada_Vancouver/03-Canada_Vancouver_Background.jpg');
}

.sec-4 {
    background-image: url('../img/04-Indonesia_Bali/04-Indonesia_Bali_Background.jpg');
}

.sec-5 {
    background-image: url('../img/05-Singapore/05-Singapore_Background.jpg');
}

.sec-6 {
    background-image: url('../img/06-America_Seattle/06-America_Seattle_Background.jpg');
}

.sec-7 {
    background-image: url('../img/07-Australia_Sydney/07-Australia_Sydney_Background.jpg');
}

.sec-8 {
    background-image: url('../img/08-Japan_Okinawa/08-Japan_Okinawa_Background.jpg');
}

/*
.tc-feature .card {
    height: 25em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.tc-feature .card .card-img-top {
    height: 10em;
}

.tc-feature .card .card-img-top ion-icon {
    width: 2.5em;
    height: 2.5em;
}

.about {
    background: linear-gradient(180deg, var(--bs-body-bg) 0%, var(--bs-body-bg) 60%,var(--bs-light) 100%);
}
*/

@media (max-width: 767.98px) {
    .daily-content {
        margin-top: 1em;
    }
}

@media (min-width: 768px) {
    .daily.daily-row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}