:root {
    --bs-body-bg: #d0e1f1;
    --bs-primary-bg: #1c449b;
    --bs-primary-rgb: 28, 68, 155;
    --bs-secondary-bg: #5776b7;
    --bs-secondary-rgb: 87, 118, 183;
    --bs-third-bg: #2555a7;
    --bs-third-rgb: 37, 85, 167;
}

.btn.btn-primary {
    --bs-btn-bg: #15a1a0;
    --bs-btn-hover-bg: #5ebfc6;
    --bs-btn-hover-border-color: #a2e1e5;
    --bs-btn-border-color: #5ebfc6;
    --bs-btn-disabled-bg: #045e5a;
    --bs-btn-disabled-border-color: #265d61;
    --bs-btn-active-bg: #15a1a0;
    --bs-btn-active-border-color: #5ebfc6;
}

* {
    --tc-feature-pro-bg: #2a2e70;
    --tc-feature-passion-bg: #f49430;
    --tc-feature-fulfill-bg: #cd2e3d;
    --tc-feature-wish-bg: #450640;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nav-item > .nav-link:hover, .dropdown-item:hover {
    color: #fff;
    background-color: RGBA(var(--bs-secondary-rgb),var(--bs-bg-opacity,1))!important;
}

header.header {
    width: 100%;
    height: 100vh;
}

#headerCarousel {
    height: 100%;
    display: flex;
    align-items: center;
}

#headerCarousel .carousel-inner {
    height: 100%;
}

#headerCarousel .carousel-item {
    height: 100%;
}

#headerCarousel .carousel-indicators button {
    background-color: #fff;
}

#headerCarousel .carousel-control-prev-icon,
#headerCarousel .carousel-control-next-icon {
    filter: none;
}

#headerCarousel img, .hero-section img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

#headerCarousel .carousel-caption {
    color: #fff;
    background-color: rgba(10, 37, 64, 0.5);
    bottom: 20%;
    max-width: 90%;
    border-radius: 15px;
}

#headerCarousel .carousel-indicators {
    bottom: 2rem;
}

.hero-section {
    height: 100%;
    min-height: 400px;
    max-height: 100vh;
}

.hero-section img {
    height: 100vh;
    filter: brightness(60%) contrast(95%);
}

.hero-section .description {
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    text-align: center;
    z-index: 100;
}

.hero-section .description .emphasis {
    font-size: 1.5em;
}

.detail-link {
    min-height: 3.5em;
    position: sticky; 
    top: 3.5em;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.detail-link .nav a {
    width: 8vw;
    min-width: 120px;
    text-decoration: none;
}

.detail-link .nav a .inner {
    padding: 1em;
    transition: .3s;
    text-align: center;
    color: #fff;
}

.detail-link .nav a:hover .inner {
    background-color: rgba(0, 0, 0, 0.5);
}

.feature-img {
    text-align: center;
}

.feature-img img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .feature-img img {
        max-width: 600px;
        height: auto;
    }
}

.feature {
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

.feature p {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.feature p::before {
    content: '★';
    padding-right: 0.5em;
    padding-left: 0.5em;
}

.photolist .img-fluid {
    transition: .1s;
}

.photolist .img-fluid:hover {
    transform: scale(1.02);
}

.row {
    margin-left: 0;
}

.daily-header > div {
    color: #000;
    background-color: RGBA(var(--bs-third-rgb),var(--bs-bg-opacity,1))!important;
}

/* .daily-content .card {
    transition: .1s;
}

.daily-content .card:hover {
    transform: scale(1.02);
} */

.daily-row .img-fluid {
    transition: .1s;
}

.daily-row .img-fluid:hover {
    transform: scale(1.02);
}

section.area {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    background-attachment: fixed;
}

.sec-1 {
    background-image: url('../img/01-Japan_Yamanashi/01-Japan_Yamanashi_Background.jpg');
}

.sec-2 {
    background-image: url('../img/02-Japan_Shizuoka/02-Japan_Shizuoka_Background.jpg');
}

.sec-3 {
    background-image: url('../img/03-Canada_Vancouver/03-Canada_Vancouver_Background.jpg');
}

.sec-4 {
    background-image: url('../img/04-Indonesia_Bali/04-Indonesia_Bali_Background.jpg');
}

.sec-5 {
    background-image: url('../img/05-Singapore/05-Singapore_Background.jpg');
}

.sec-6 {
    background-image: url('../img/06-America_Seattle/06-America_Seattle_Background.jpg');
}

.sec-7 {
    background-image: url('../img/07-Australia_Sydney/07-Australia_Sydney_Background.jpg');
}

.sec-8 {
    background-image: url('../img/08-Japan_Okinawa/08-Japan_Okinawa_Background.jpg');
}

/*
.tc-feature .card {
    height: 25em;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
}

.tc-feature .card .card-img-top {
    height: 10em;
}

.tc-feature .card .card-img-top ion-icon {
    width: 2.5em;
    height: 2.5em;
}

.about {
    background: linear-gradient(180deg, var(--bs-body-bg) 0%, var(--bs-body-bg) 60%,var(--bs-light) 100%);
}
*/


.daily.daily-row {
    padding-top: 2em;
    padding-bottom: 2em;
}

.daily.daily-row:not(:last-child) {
    border-bottom: 1px solid var(--bs-primary-bg);
}

.page-header {
    margin-top: 72px;
}

.accordion-button {
    /*background-color: var(--bs-primary-bg);
    color: #fff;*/
    border: 2px solid var(--bs-primary-bg);
}

.accordion-body {
    border: 1px solid var(--bs-primary-bg);
}

.float-icons .float-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    z-index: 1001;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
    --bs-btn-hover-bg: #5ebfc6;
}

.float-icons .float-icon:hover {
    background-color: var(--bs-btn-hover-bg);
}

.float-icons .float-icon img {
    width: 48px;
    height: auto;
}

.float-icons .popup {
    position: fixed;
    bottom: 20px;
    right: 100px;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 0;
    z-index: 1001;
    visibility: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);;
}

.float-icons .popup.show {
    opacity: 1;
    visibility: visible;
}

.float-icons .popup img {
    width: 200px;
    height: auto;
}

/* @media (max-width: 767.99px) {
    .daily-content {
        margin-top: 1em;
    }

    .daily.daily-row .col-md-6:nth-child(even) {
        margin-top: 2em;
    }
} */

/* 每日行程 */
.daily-schedule {
    counter-reset: schedule-counter;
}

.daily-schedule .daily-row .day-count {
    counter-increment: schedule-counter;
    font-size: 1.25em;
    font-weight: bold;
    padding: 0.25em;
    margin-bottom: 1em;
}

.daily-schedule .daily-row .day-count .day-count-number::before {
    content: "Day "counter(schedule-counter);
}

.daily-schedule .daily-row .day-count .day-count-no-number {
    text-align: left;
}

a[name] {
    display: block;
    position: relative;
}

section.area > a[name] {
    top:-58px;
}

div.content article > a[name] {
    top: -120px;
}

/* Q&A 樣式*/
#qaAccordion {
    counter-reset: qa-counter;
}

#qaAccordion div.accordion-item > h2 > button .question {
    counter-increment: qa-counter;
    font-weight: bold;
}

#qaAccordion div.accordion-item > h2 > button .question::before {
    content: counter(qa-counter) ".";
}

#qaAccordion div.accordion-item:nth-child(1) ol {
    list-style-type: none;
    counter-reset: list-counter;
    padding-left: 0;
}

#qaAccordion div.accordion-item:nth-child(1) ol li {
    counter-increment: list-counter;
    position: relative;
    padding-left: 32px;
}

#qaAccordion div.accordion-item:nth-child(1) ol li::before {
    content: "(" counter(list-counter) ")";
    position: absolute;
    left: 0;
}

@media (min-width: 768px) {
    .visa-info .visa-row:nth-child(odd) {
        flex-direction: row-reverse;
    }
}
